<h1>Login</h1>
<%= form_tag sessions_path do %>
  <div class="field">
    <%= text_field_tag :email %>
  </div>
  <div class="field">
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </div>
  <div class="actions">
    <%= submit_tag "Log in" %>
  </div>
  <div class="checkbox">
    <%= check_box_tag :remember, "true", false%>
    Remember Me!
  </div>
<% end %>