<h3>Hi <%= @booking.user.first_name%>,</h3>
<p>Thank you for booking. Please find your booking details below.</p>

<div class="container well text-left">
  <h3 class="text-center"><u> Your booking details </u></h3>
  <p>Booking id: <%= @booking.id %></p>
  <p>Tour name: <%= @booking.tour.name %></p>
  <p>Date: <%= @booking.start_date %></p>
  <p>Start Time: <%= @booking.start_time.strftime("%I:%M%p") %></p>
  <p>Duration: <%= @booking.tour.duration %> minutes</p>
  <p>People: <%= @booking.party_of %></p>
  <p>Total Amount: HK$ <%= @booking.get_price %></p>
</div>

<h3>
  Yours sincerely,
  <br>
  <br>
  Petulah team
</h3>
