<div class="well text-left">
  <div class="text-center">
    <h2>Got some changes? Let us know so we can plan better!</h2>
    <h4 class ="text-info">Editing tour booking: <%= @booking.tour.name %></h4>
  </div>

  <%= form_for @booking, {method: "put", html: {class: "form-horizontal"}} do |f| %>

    <% if @booking.errors.any? %>
    <div class="error_messages alert alert-danger">
      <ul>
        <% for message in @booking.errors.full_messages %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <div class="field form-group">
      <%= f.label :start_date, class: "col-xs-3 control-label" %>
      <%= f.date_select :start_date, {}, class: "input-lg" %>
    </div>
    <div class="field form-group">
      <%= f.label :start_time, class: "col-xs-3 control-label" %>
      <%= f.time_select :start_time, {minute_step: 30, ampm: true}, class: "input-lg" %>
    </div>
    <div class="field form-group">
      <%= f.label :party_of, class: "col-xs-3 control-label" %>
      <%= f.select :party_of, options_for_select(1..10), {}, class: "input-lg" %>
    </div>
    <div class="field form-group">
      <%= f.label :remarks, class: "col-xs-3 control-label" %>
      <%= f.text_field :remarks, class: "col-xs-7 input-lg" %>
    </div>
    <div class="actions form-group text-center">
      <button class="btn btn-success"> Update your booking!
      </button>
    </div>
  <% end %>
</div>
