<div class="well text-left">

  <h4>You are editing tour</h4>
  <p>Tour booked: <%= @booking.tour.name %></p>

  <%= form_for @booking, {METHOD:"POST", html: {class: "form-horizontal"}} do |f| %>

    <% if @booking.errors.any? %>
    <div class="error_messages alert alert-danger">
      <ul>
        <% for message in @booking.errors.full_messages %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <div class="field form-group">
      <%= f.label :start_date, class: "col-xs-3 control-label" %>
      <%= f.date_select :start_date, class: "col-xs-4" %>
    </div>
    <div class="field form-group">
      <%= f.label :start_time, class: "col-xs-3 control-label" %>
      <%= f.time_select :start_time, {minute_step: 30, ampm: true} %>
    </div>
    <div class="field form-group">
      <%= f.label :party_of, class: "col-xs-3 control-label" %>
      <%= f.select :party_of, options_for_select(1..10), class: "col-xs-4" %>
    </div>
    <div class="field form-group">
      <%= f.label :remarks, class: "col-xs-3 control-label" %>
      <%= f.text_field :remarks, class: "col-xs-4 input-lg" %>
    </div>
    <div class="actions form-group text-center">
      <button class="btn btn-success"> Edit your booking!
      </button>
    </div>
  <% end %>

</div>