<div class="jumbotron tours-index">
  <div class="text-left">
    <%= link_to 'Home', root_path%> -->
    <%= link_to 'All Tours', tours_path, class: "active"%>
  </div>

  <div class="row">
    <% @tours.each do |tour|%>
      <div class="col-md-6 portfolio-item tours">
        <h3 class="text-left" class="tour-name">
        <%= tour.name %></h3>
        <%= image_tag tour.image, class: "img-responsive tour-images" %>
        <h5 class="text-justify">
          <%= tour.description.first(200) %>...
          <%= link_to "more details", tour_path(tour.id)%>
        </h5>
      </div>
    <% end %>
  </div>
  <div class="row text-center">
    <%= link_to 'Back to all tours', tours_path %>
  </div>
</div>
