
<div class="text-center tour-header">
  <h2> All tours </h2>
</div>
<% @tours.each do |tour|%>
  <div class="tours">
    <div class="col-md-12 portfolio-item">
      <h1 class="text-center" class="tour-name"><%= tour.name %></h5>
      <p class="text-justify">
        <%= tour.description.first(200) %>...
        <%= link_to "More details", tour_path(tour.id)%>
      </p>
      <%= image_tag tour.image, class: "img-responsive tour-images" %>
    </div>
  </div>
<% end %>

<div class="text-right">
  <%= link_to 'Back to homepage', root_path%>
</div>
