<div class="container">
  <h4 class="text-left">
    <%= link_to 'Home', root_path%> -->
    All Tours
  </h4>
  <% @tours.each do |tour|%>
    <div class="col-md-6 portfolio-item tour-container">
      <h3 class="text-left tour-name text-info">
      <%= tour.name %></h3>
      <div class="tour-images">
        <%= image_tag tour.image, class: "img-responsive" %>
      </div>
      <div>
        <h4 class="text-justify">
          <%= tour.description.first(200) %>...
          <%= link_to "more details", tour_path(tour.id)%>
        </h4>
      </div>
    </div>
  <% end %>
</div>
