<div class="container">
  <h4 class="text-left">
    <%= link_to 'Home', root_path%> -->
    <%= link_to 'All Tours', tours_path%> -->
    <%= @tour.name %>
  </h4>
  <div class="col-md-7 portfolio-item img-container">
    <div class="tour-image">
      <%= image_tag @tour.image, class: "img-responsive"%>
    </div>
  </div>
  <div class="col-md-5 portfolio-item">
    <h3 class="text-left text-info"><%= @tour.name %></h3>
    <h5 class="text-justify"><%= @tour.description %></h5>
    <h4 class="text-left"><strong>Language:</strong> <%= @tour.language %></h4>
    <h4 class="text-left"><strong>Duration:</strong> <%= @tour.duration %> minutes</h4>
    <h4 class="text-left"><strong>Price:</strong> HK$ <%= @tour.price %> per person</h4>
    <%= link_to 'BOOK NOW!', new_tour_booking_path(@tour.id), class: "btn btn-lg btn-info"%>
  </div>
</div>

