  <nav class="navbar navbar-default" id="main-nav">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-bar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">PeTu-LAH!</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="nav-bar">
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <li><%= link_to 'All tours', tours_path %></li>
          <li><%= link_to "My Bookings", bookings_path%></li>
          <li><%= link_to "Logout, #{current_user.first_name} #{current_user.last_name}", logout_path, method: :delete%></li>
        <% else %>
          <li><%= link_to 'All tours', tours_path %></li>
          <li><%= link_to "Sign-up", signup_path%></li>
          <li><a href="/login">Login</a></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </nav>
