<div class="page-header">
<nav class="navbar navbar-default" id="main-nav">
<!--   <div class="container"> -->

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">PT</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <li><%= link_to "Bookings", bookings_path%></li>
          <li><%= link_to "Logout (#{current_user.first_name})", logout_path, method: :delete%></li>
          <li><%= link_to 'All tours', tours_path %></li>
        <% else %>
          <li><%= link_to "Sign-up", signup_path%></li>
          <li><a href="/login">Login</a></li>
          <li><%= link_to 'All tours', tours_path %></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
<!--   </div>/.container -->
</nav>
</div>
