<!DOCTYPE html>
<html>
  <head>
    <title>ProjectPetulah</title>
    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Bitter', media: 'all'%>
    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Raleway', media: 'all'%>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'petu-favi.ico', rel: "shortcut icon" %>
  </head>
  <body>

      <div class="col-xs-12 lp-div">
        <%= render "layouts/navbar" %>
        <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %>"><%= value %></div>
        <% end %>
        <%= yield %>
        <div class="text-center footer">
          <p>Andrew Alekseev and Charlotte Kwan &copy; 2016 All Rights Reserved.</p>
        </div>
      </div>
  </body>
</html>
